* {
  box-sizing: border-box;
}

body {
  font-size: 112.5%;
  margin: 0;

  display: grid;
}

header {
  background-color: powderblue;
  text-align: center;
  position: sticky;
}

main {
  padding: 20px;
  overflow: scroll;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: lightcyan;
  border: 4px solid powderblue;
  padding-right: 12px;
  padding-left: 12px;
  margin: 20px 0;
}

.card__bookmark {
  margin-left: 80%;
  margin-top: -50%;
}

.card__tags {
  display: flex;
  max-width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
}

footer {
  position: sticky;
}

.navbar {
  background-color: powderblue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 28px 0;
  margin: 0;
}
