.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  background-color: var(--blue3);
}

.card__bookmark {
  margin-left: 80%;
  margin-top: -5%;
  border: none;
  background: none;
  color: var(--blue2);
}

.card__bookmark--active {
  color: var(--darkred);
}

.card__button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
}
