footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue2);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 100vw;
  background-color: var(--blue2);
}

.nav__icon--active {
  color: var(--darkred) !important;
}

.nav__icon {
  width: 45px;
  color: var(--blue1);
}

.nav__home,
.nav__bookmarks,
.nav__create,
.nav__profile {
  background-color: var(--blue2);
  border-style: none;
}
