footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: powderblue;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 100vw;
  background-color: powderblue;
}

.nav__icon {
  width: 50px;
}

.nav__home,
.nav__bookmarks,
.nav__create,
.nav__profile {
  background-color: powderblue;
  border-style: none;
}
