.hidden {
  display: none;
}

.f-size-18 {
  font-size: 112.5%;
}

.m-0 {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.m-t-b-10 {
  margin: 10px 0;
}

.m-t-b-20 {
  margin: 20px 0;
}

.m-t-b-44 {
  margin: 44px 0;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-l-r-20 {
  padding: 0 20px;
}

.b-4-blue {
  border: 4px solid var(--blue2);
}

.h-64 {
  height: 64px;
}

.b-0 {
  bottom: 0;
}

.w-100p {
  width: 100%;
}

.w-h-60 {
  width: 60px;
  height: 60px;
}

.font-r {
  font-family: 'Raleway', sans-serif;
}

.font-p {
  font-family: 'Poppins', sans-serif;
}

.s-box {
  box-shadow: 4px 4px 8px var(--blue1);
}

.s-header {
  box-shadow: 0 4px 8px var(--blue1);
}

.s-footer {
  box-shadow: 0 -4px 8px var(--blue1);
}

.bg-color {
  background-color: var(--blue3);
}
